<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.print.dao.PrintMapper">

    <insert id="addNewPrint" parameterType="Print">
        insert into print(size, printStyle, printColor, notes, getCreate, number) values(#{size}, #{printStyle}, #{printColor}, #{notes}, #{getCreate}, #{number})
    </insert>

</mapper>